*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/res/drawable/*.jpg
/app/src/main/res/drawable/*.png
/app/src/main/res/drawable/*.gif
/app/src/main/res/drawable/close_icon.xml
/app/src/main/res/drawable/close_icon_light_red.xml