<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mangpo.bookclub">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".view.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bookclub"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.my_info.PasswordReissueActivity"
            android:exported="false" />
        <activity
            android:name=".view.book_profile.EmailAuthenticationActivity"
            android:exported="false" />
        <activity
            android:name=".view.setting.OpenSourceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.setting.TermsConditionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.setting.QuestionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.my_info.ResettingPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.my_info.ChecklistManagementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.my_info.GoalManagementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.my_info.YourTasteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.my_info.MyInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.setting.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.write.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.write.PhotoViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".view.book_profile.BookProfileInitActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.book_profile.SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.bookclub.CreateClubActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.setting.NoticeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>